{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"jsxSingleQuote": false,
	"printWidth": 120,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"useTabs": true,
	"overrides": [
		{
			"files": ["*.json", "*.yml", "*.md"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
